@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
body {
  font-family: "Heebo", sans-serif;
}
.container {
  max-width: 1152px;
  padding: 0 60px;
  margin: 0 auto;
  height: auto;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header-ul {
  display: flex;
  gap: 75px;
}
.header-li a {
  color: #000000;
  font-size: 20px;
}
.header-wrapper {
  display: none;
  flex-direction: column;
  gap: 4px;
  padding: 10px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #21243d;
  border-radius: 2px;
}

/* section  */
.main-content {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 140px;
  margin-bottom: 140px;
  gap: 115px;
}
.information {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
h2 {
  font-size: 44px;
  color: #21243d;
  font-weight: 700;
  max-width: 437px;
}
.dwld-btn {
  color: #fff;
  background-color: #ff6464;
  width: 208px;
  height: 47px;
}
.about-para {
  max-width: 437px;
  line-height: 25px;
}
.id-photo {
  /* max-width: 243px; */
  height: 243px;
}
/* section #1 */
.posts {
  background-color: #edf7fa;
  padding: 20px 20px;
  max-width: 1152px;
  height: auto;
  margin: 0 auto;
  align-items: center;
}
.section-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  line-height: 60px;
}
h3 {
  color: #21243d;
  font-size: 26px;
  line-height: 100%;
  font-weight: 700;
  max-width: 367px;
}
.view {
  font-size: 16px;
  color: #00a8cc;
}
h5 {
  font-size: 18px;
  color: #21243d;
  font-weight: 400;
  line-height: 100%;
  max-width: 367px;
  text-align: left;
}
.cards-content {
  width: calc(50% - 30px);
  gap: 20px;
  background-color: #fff;
  /* height: 295px; */
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 27px;
  /* align-items: center; */
  justify-content: center;
}
.cards-para {
  color: #21243d;
  font-size: 16px;
  line-height: 100%;
  max-width: 348px;
  height: 20%;
}
/* section#2 */

.future-title {
  font-size: 22px;
  color: #21243d;
  font-weight: 400;
  line-height: 60px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.info-title {
  font-size: 30px;
  color: #21243d;
  line-height: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.description {
  display: flex;
  align-items: center;
  gap: 26px;
}
.year {
  background-color: #142850;
  color: #fff;
  width: 62px;
  line-height: 30px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 18px;
}
h6 {
  color: #8695a4;
  font-size: 20px;
}
.description-para {
  font-size: 16px;
  color: #21243d;
}
.line-section {
  border-radius: 2px;
  height: 1px;
  background-color: #e0e0e0;
  width: 100%;
}
.footer {
  padding: 54px 0;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 26px;
}
.icons {
  display: flex;
  max-width: 300px;
  gap: 30px;
}

/* blog */

.header-li.active a {
  color: #ff6464;
}
span {
  color: #8695a4;
}
.blog-title {
  font-size: 30px;
  font-weight: 500;
  color: #21243d;
}
.blog-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  gap: 16px;
  margin-bottom: 29px;
}

h1 {
  font-size: 44px;
  color: #21243d;
  font-weight: 700;
  max-width: 437px;
  margin-bottom: 56px;
}

.work-items {
  display: flex;
  gap: 20px;
}
/* dashboard */


